# Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# IDEs e Editores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.idea/
*.ipr
*.iml
*.iws
.history/*